.Icon{
  fill: currentColor;
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  margin:0 5px;
}